<ion-header no-border translucent>
  <ion-toolbar>
    <ion-title color="warning">IMDb</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="dark" name="search" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-slides>
    <ion-slide>

    </ion-slide>
  </ion-slides> -->
  <ion-card *ngFor="let movie of movies">
    <img src="{{movie.img}}">
      <ion-card-header>
        <ion-card-title>
          {{ movie.name }}
        </ion-card-title>
        <ion-card-content>
          <ion-text>
            {{ movie.description }}
          </ion-text>
          <!-- <ion-buttons>
            <ion-button *ngFor="let rating of [1,2,3,4,5]" (click)="clickOnRating(movie.id,rating)">
              <ion-icon *ngIf="rating > movie.rating" name="star-outline"></ion-icon>
              <ion-icon *ngIf="movie.rating > rating - 1" name="star"></ion-icon>
            </ion-button>
          </ion-buttons> -->
          <!-- <ion-button (click)="setCommentSectionDisplayed(movie.id)" size="small">Show comment section</ion-button>
          <ion-list *ngIf="isCommentSectionDisplayed(movie.id)">
            <div *ngFor="let comment of movie.comments">
              <ion-label>
                  Guest
              </ion-label>
              <ion-item>
                <ion-text>
                  {{comment}}
                </ion-text>
              </ion-item>
            </div>
          </ion-list>
          <form *ngIf="isCommentSectionDisplayed(movie.id)" (ngSubmit)="addComment($event,movie.id)">
            <ion-item>
              <ion-textarea name="comment" autoGrow="true" placeholder="Comment..." required></ion-textarea>
            </ion-item>
            <ion-button size="small" type="submit" fill="outline" expand="block">
              Submit comment
            </ion-button>
          </form> -->
        </ion-card-content>
      </ion-card-header>
  </ion-card>
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addMovie()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>